bin
/log
/output
/lib/diffutils-1.2.1.jar
/lib/commons-io-2.1.jar
/lib/asm-all-4.1.jar
/lib/org.eclipse.core.contenttype_3.4.100.v20110423-0524.jar
/lib/org.eclipse.core.jobs_3.5.100.v20110404.jar
/lib/org.eclipse.core.resources_3.7.100.v20110510-0712.jar
/lib/org.eclipse.core.runtime_3.7.0.v20110110.jar
/lib/org.eclipse.equinox.common_3.6.0.v20110523.jar
/lib/org.eclipse.equinox.preferences_3.4.1.R37x_v20110725.jar
/lib/org.eclipse.jdt.compiler.apt_1.0.400.v0110816-0800.jar
/lib/org.eclipse.jdt.compiler.tool_1.0.100.v_B76_R37x.jar
/lib/org.eclipse.jdt.core_3.7.1.v_B76_R37x.jar
/lib/org.eclipse.jface_3.7.0.I20110522-1430.jar
/lib/org.eclipse.osgi.util_3.2.200.v20110110.jar
/lib/org.eclipse.osgi_3.7.1.R37x_v20110808-1106.jar
/lib/org.eclipse.text_3.5.101.r371_v20110810-0800.jar
